@import "../../variables.scss";
@import "../../media.scss";
.tariffs {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 83px;

    %defaultText {
        font-size: $font-size-20;
        line-height: $line-height-24;
    }

    .container {
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
    }

    &__title {
        margin-bottom: 50px;
    }

&__items {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        row-gap: 60px;
        column-gap: 60px;
        margin-bottom: 84px;
    }
    &__item {
        width: 240px;
        padding: 18px 7px 21px 7px;
        border-radius: $border-radius-10;
        

        &:nth-child(1) {
            background-color: $red;
            box-shadow: -10px 4px 30px rgba(215, 61, 61, 0.15);
            transition: 0.5s;
            cursor: pointer;
        }

        &:nth-child(1):hover
        {
            transform: scale(1.1);
            box-shadow: -10px 4px 30px rgba(215, 61, 61, 0.10);
        }
        &:nth-child(2) {
            background-color: $aqua;
            box-shadow: 0px 4px 30px rgba(37, 129, 129, 0.15);
            transition: 0.5s;
            cursor: pointer;
        }

        &:nth-child(2):hover
        {
            transform: scale(1.1);
            box-shadow: 0px 4px 30px rgba(37, 129, 129, 0.10);
        }
        &:nth-child(3) {
            background-color: $green;
            box-shadow: 10px 4px 30px rgba(23, 135, 13, 0.15);
            transition: 0.5s;
            cursor: pointer;
        }
        &:nth-child(3):hover 
        {
            transform: scale(1.1);
            box-shadow: 10px 4px 30px rgba(23, 135, 13, 0.10);
        }


        &-label {
            font-size: $font-size-30;
            line-height: $line-height-36;
            font-weight: $font-weight-500;
            margin-bottom: 7px;
        }

        &-duration {
            @extend %defaultText;
            margin-bottom: 30px;
        }

        &-description {
            @extend %defaultText;
            margin-bottom: 44px;
        }

        &-price { 
            text-align: right;
            font-weight: $font-weight-500;
            font-size: $font-size-30;
            line-height: $line-height-36;
            padding-right: 16px;
        }
    }

    &__benefits { 
        font-size: $font-size-18;
        line-height: $line-height-30;

        @media (max-width: $tablet-width-small){
            font-size: $font-size-14;
            line-height: $line-height-24;
        }
    }
}
