@import "../../variables.scss";
@import "../../media.scss";
.auth {
    padding: 57px 0px;

    .container {
        max-width: 550px;
        @media (max-width: $tablet-width-small) {
            max-width: 464px;
        }
        @media (max-width: $mobile-width) {
            max-width: 300px;
        }
    }

    &__form {
        padding: 22px 32px 30px 32px;
        background-color: $gray;
        box-shadow: $default-box-shadow;
        border-radius: $border-radius-3;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        @media (max-width: $mobile-width) {
            padding: 22px 9px 34px 9px;
        }

        &-header {
            margin-bottom: 33px;

            &-logo {
                margin: 0 auto 15px auto;
                width: 50px;
                height: 50px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            &-title {
                font-size: $font-size-30;
                line-height: $line-height-36;
                font-weight: $font-weight-500;

                @media (max-width: $tablet-width-small) {
                    font-size: $font-size-24;
                    line-height: $line-height-28;
                }

                @media (max-width: $mobile-width){
                    font-size: $font-size-18;
                    line-height: $line-height-21;
                }
            }
        }

        &-input {
            margin-bottom: 21px;
            &:last-child {
                margin-bottom: 41px;
            }
        }
    }
}
